@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
	font-family: Poppins, sans-serif;
	background: #0f1724;
	color: #fff;
    background: linear-gradient(135deg, #0f1724 0%, #283e51 50%, #485563 100%); color: #fff;
}


.bg-gradient {
	background: linear-gradient(135deg, #0f1724 0%, #283e51 50%, #485563 100%);
	padding: 40px 0;
}

.panel {
	background: #fff;
	color: #222;
	border-radius: 16px;
	box-shadow: 0 4px 24px #283e5144;
}

.carousel-item img {
	height: 500px;
	width: 100%;
	object-fit: cover;
	border-radius: 16px;
	box-shadow: 0 0 32px #37abf888, 0 2px 8px #0f172488;
	transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-item img:hover {
	transform: scale(1.04);
	box-shadow: 0 0 48px #f8ab37cc, 0 4px 16px #0f1724cc;
}
.footer{
    background: #0f1724;
}
.footer a {
  transition: color 0.3s, transform 0.3s;
}

.footer a:hover {
  color: #0d6efd;
  transform: scale(1.2);
}

#betplay {
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}